 @use "variables" as *;

@import "bootswatch/dist/lux/variables";
@import "bootstrap";
@import "bootswatch/dist/lux/bootswatch";

section {
  display: none;
  &#home {
    display: block;
  }
}

.navbar-brand img {
  width: 10%;
}


